# 使用nba_api取得比賽數據

In [1]:
from nba_api.stats.endpoints import PlayerGameLog
import pandas as pd
from nba_api.stats.static import players
import time

# 找出球員資料

In [2]:
all_players = players.get_players()
columns_p = [k for k in all_players[0].keys()]
rows_p = []
for player in all_players:
    rows_p.append([v for v in player.values()])
df_all_player = pd.DataFrame(data = rows_p, columns = columns_p)
df_all_player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

# 建立球員比賽數據dataframe

In [3]:
columns = ['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL','MIN', 'FGM', 'FGA', 
           'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA','FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 
            'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE']
rows = []
Player_game = pd.DataFrame(data = rows, columns = columns)
Player_game

Empty DataFrame
Columns: [SEASON_ID, Player_ID, Game_ID, GAME_DATE, MATCHUP, WL, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, PLUS_MINUS, VIDEO_AVAILABLE]
Index: []

[0 rows x 27 columns]

# 利用得到的球員id抓取其2013-2018球季的比賽數據

In [ ]:
for Pid in df_all_player["id"]:
    game = PlayerGameLog(player_id=Pid, season='2013-18', timeout = 3000)
    gamelog = game.get_data_frames()[0]
    Player_game = pd.concat([Player_game, gamelog], ignore_index=True, axis=0, sort=False)

In [ ]:
pd.set_option("display.max_columns", None)
Player_game

# 儲存檔案

In [ ]:
Player_game.to_csv(r'D:/Player_game.csv', index = False)